
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
.env.local
.env.web
public/storage/portfolios.zip
storage/app/public/portfolios.zip
.env
